<article class="artist">
  <div class="name">
    <h3>{{artist.name}}</h3>
  </div>
  <div class="details">
    <ul>
      <li>Nationality: {{artist.nationality}}</li>
      <li>Time Period: {{artist.timePeriod}}</li>
      <li>Movement: {{artist.movement}}</li>
      <li>Alive? {{artist.alive}}</li>
    </ul>
  </div>
</article>
